@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-accent-color: #d52c47;
  --secondary-accent-color: #1D2145;
  --main-bg-color: var(--secondary-accent-color);
  --main-font-color: #EEEEF2;
  --light-font-color-1: rgba(238,238,242,0.6);

  --header-height: 64px;
  @screen sm {
    --header-height: 96px;
  }
}


body {
  min-height: 100vh;
  //overflow: hidden;
  position: relative;
  color: var(--main-font-color);
}

